package ${packageOut}${responseOut};

#if($lombokEnable)
import lombok.*;
#end
#if (${swagger2Enable})
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#end
#if(${swagger3Enable})
import io.swagger.v3.oas.annotations.media.Schema;
#end
import com.fasterxml.jackson.annotation.JsonFormat;
import org.springframework.format.annotation.DateTimeFormat;
import java.util.Date;


/**
 * ${tableNameDescription}
 *
#if(${author})
 * @author ${author}
#end
 */

#if (${swagger2Enable})
@ApiModel("${className}${requestSuffix}")
#end
#if(${swagger3Enable})
@Schema(title = "${className}${requestSuffix}")
#end
#if($lombokEnable)
@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
@EqualsAndHashCode(callSuper=false)
#end
public class ${className}${responseSuffix}  {


#foreach($field in $tableFieldList)

    #if (${swagger2Enable})
    @ApiModelProperty(value = "$field.comments")
    #elseif(${swagger3Enable})
    @Schema(description = "$field.comments")
    #else
    /**
     * $field.comments
     */
    #end
    #if($field.attrType=='Date')
    @DateTimeFormat(pattern = "${dateFormatValue}")
    @JsonFormat(timezone = "GMT+8", pattern = "${dateFormatValue}")
    #end
    private $field.attrType $field.variableAttrName;
#end

#foreach($field in $tableFieldList)
    #if(!$lombokEnable)
    public ${field.attrType} get${field.getSetName}() {
            return $field.variableAttrName;
            }

    public void set${field.getSetName}(${field.attrType} $field.variableAttrName) {
            this.$field.variableAttrName = $field.variableAttrName;
            }
    #end
#end

}
